<main class="container center">

    <section class="page-area">

        <!-- This is an A11y Change 4 -->
        <!--
        Changing <h1> inside sections to <h2>
        - There should be only one <h1> per page (already used for the page title).
        - Using multiple <h1>s confuses screen readers and impacts SEO negatively.
         -->
        <article-block color="blue">
            <h2>Stay on track</h2>
            <p>
                Do you know where you are spending your money? If you really stop to track it down,
                you would get surprised! Proper budget management depends on real data... and this
                app will help you with that!
            </p>
        </article-block>

        <article-block color="blue">
            <h2>Alerts</h2>
            <p>
                What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
            </p>
        </article-block>

        <article-block color="blue">
            <h2>Results</h2>
            <p>
                People who stick to a financial plan, budgeting every expense, get out of debt faster!
                Also, they to live happier lives... since they expend without guilt or fear... 
                because they know it is all good and accounted for.
            </p>
        </article-block>

        <article-block color="blue">
            <h2>Free</h2>
            <p>
                This app is free!!! And you are the only one holding your data!
            </p>
        </article-block>

        <article-block color="blue">
            <h2>Stay on track</h2>
            <p>
                Do you know where you are spending your money? If you really stop to track it down,
                you would get surprised! Proper budget management depends on real data... and this
                app will help you with that!
            </p>
        </article-block>

        <article-block color="blue">
            <h2>Alerts</h2>
            <p>
                What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
            </p>
        </article-block>

        <article-block color="blue">
            <h2>Results</h2>
            <p>
                People who stick to a financial plan, budgeting every expense, get out of debt faster!
                Also, they to live happier lives... since they expend without guilt or fear... 
                because they know it is all good and accounted for.
            </p>
        </article-block>

        <article color="blue" style="display: flex;">
            <div>
            <h2> Budget Chart</h2>
            <p>
                <canvas id="mySimpleChart"></canvas>
            </p></div>

            <div>
                <h2>D3 Budget Chart</h2>
            <div id="myd3Chart"></div>
            </div>
        </article>
        
    </section>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>